* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}
#nav {
  position: relative;
  overflow: hidden;
  width: 425px;
  height: 350px;
  background-color: rgb(102, 87, 195);
}
.navbarul {
  display: none;
}
.navbarulli1 {
  padding-top: 20px;
  padding-left: 30px;
  font-weight: bolder;
  color: white;
  font-size: 30px;
}
#navbarcontact {
  margin-right: 200px;
  margin-top: -40px;
  float: right;
}
#phoneicon {
  border-radius: 50%;
  font-size: 20px;
  padding: 10px;
  margin-top: 0px;
  border: 0px;
  transform: rotate(0deg);
  background-color: white;
}
#phonenumber {
  width: 100px;
  border: 1px solid white;
  border-radius: 20px;
  color: white;
  padding: 7px;
  position: absolute;
  margin-top: 5px;
  margin-left: 10px;
  text-decoration: none;
  background-color: transparent;
  border: 1px solid white;
  font-size: 17px;
}
#waveimg {
  margin-left: -150px;
  margin-top: 96px;
  width: 900px;
}
#wave {
  position: absolute;
}
#man {
  width: 425px;
  position: absolute;
  margin-top: 70px;
  margin-left: 55px;
  background-color: transparent;
}
.manh1 {
  background-color: white;
  border-radius: 30px;
  position: absolute;
  margin-top: -60px;
  margin-left: 85px;
  padding: 8px;
  font-size: 20px;
}
.manh2 {
  float: left;
  background-color: white;
  color: #16b88e;
  border-radius: 30px;
  margin-left: 40px;
  margin-top: -10px;
  padding: 8px;
  font-size: 17px;
}
#manimg {
  clip-path: circle();
  margin-bottom: 15px;
  width: 80px;
  margin-left: 10px;
  margin-top: 10px;
}
#mananchor {
  float: left;
  background-color: #535da1;
  color: white;
  text-decoration: none;
  border-radius: 30px;
  margin-left: 40px;
  margin-top: 10px;
  padding: 8px;
  font-size: 16px;
}
.laptopman {
  display: none;
}

#leftimg {
  display: none;
}
#aboutme h1 {
  background-color: #14b789;
  text-align: center;
  color: white;
  position: absolute;
  padding: 30px;
  margin: 10px;
  margin-left: 15px;
  font-size: 30px;
  width: 320px;
  margin-top: 20px;
  border-radius: 10px;
}
#aboutmeimg {
  width: 138px;
  margin-left: 260px;
  margin-top: 20px;
  clip-path: circle();
}
#aboutmedetails {
  padding: 30px;
}

.info {
  background-color: #f7f6f6;
}
.infotable {
  padding-top: 20px;
  padding-bottom: 20px;
}
table {
  width: 300px;
  margin-left: 65px;
  border: 1px solid rgb(180, 180, 180);
  border-radius: 10px;
}

table th {
  color: rgb(9, 182, 135);
  font-size: 15px;
  padding: 8px;
  text-align: start;
  font-family: Arial, Helvetica, sans-serif;
}
table h4 {
  color: black;
  font-size: 25px;
}
table td {
  font-family: Arial, Helvetica, sans-serif;
  text-align: start;
  font-size: 15px;
}
.tablerow th hr {
  position: absolute;
  background-color: rgb(175, 175, 175);
  width: 298px;
  margin-left: -10px;
}
.line {
  position: absolute;
  width: 1px;
  margin-left: 163px;
  margin-top: 40px;
  height: 150px;
  background-color: rgb(180, 180, 180);
}
.tablerow:nth-child(3) {
  background-color: white;
}
.tablerow:nth-child(5) {
  background-color: white;
}
.numbers {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}
#numinner1,
#numinner2 {
  padding: 10px;
}
#numinner4,
#numinner3 {
  padding: 20px;
}
.numline {
  width: 1px;
  height: 180px;
  position: absolute;
  background-color: gray;
  margin-left: 199px;
  margin-top: 10px;
}
.numbers hr {
  position: absolute;
  width: 390px;
  margin-top: 100px;
  margin-left: 5px;
}

.company {
  font-size: 14px;
  padding-top: 30px;
  text-align: center;
}
.companyimg {
  width: 425px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.companyimg1 {
  width: 230px;
  padding-top: 50px;
}
.services {
  width: 425px;
  padding-top: 30px;
  background-color: #f7f6f6;
}
.servicesnames {
  width: 425px;
  display: flex;
  flex-wrap: wrap;
}
.serviceshead h1 {
  background-color: #14b789;
  border-radius: 10px;
  padding: 25px;
  margin-left: 30px;
  padding-right: 40px;
  padding-left: 175px;
  position: absolute;
  color: white;
}
#servicesheadimg {
  width: 140px;
  margin-left: 80px;
  margin-top: 2px;
  clip-path: circle();
}
.servicesnamesWebsites,
.servicesnamesBranding,
.servicesnamesEcommerce,
.servicesnamesSEO {
  width: 400px;
  overflow: hidden;
  background-color: white;
  position: relative;
  margin-right: 10px;
  margin-top: 50px;
  margin-left: 10px;
  border-radius: 10px;
}
.servicesnamesWebsites h1,
.servicesnamesBranding h1,
.servicesnamesEcommerce h1,
.servicesnamesSEO h1 {
  padding: 10px;
  font-size: 30px;
}
.servicesbutton {
  width: 90px;
  border: 0px solid;
  color: white;
  background-color: rgb(83, 68, 177);
  padding: 5px;
  float: right;
  border-radius: 20px;
  margin-top: -40px;
  margin-right: 10px;
}
.dm {
  width: 150px;
  border: 1px solid;
  color: black;
  background-color: transparent;
  padding: 10px;
  border-radius: 20px;
  text-decoration: none;
  margin-top: 5px;
  margin-right: 10px;
  margin-left: 10px;
}
ion-icon {
  padding: 50px;
  margin-top: 90px;
  padding-top: 50px;
  padding-bottom: 70px;
  margin-left: 200px;
  margin-bottom: -45px;
  transform: rotate(320deg);
  border: 1px solid black;
  font-size: 130px;
}
.services p {
  padding: 10px;
  padding-top: 10px;
}
.proheading h1 {
  background-color: #14b789;
  border-radius: 10px;
  padding: 25px;
  margin-left: 20px;
  padding-right: 80px;
  padding-left: 150px;
  margin-top: 50px;
  position: absolute;
  color: white;
}
#proheadimg {
  width: 92px;
  margin-left: 70px;
  margin-top: 28px;
  clip-path: circle();
}

.pronames {
  width: 400px;
  padding-left: 15px;
  padding-right: 10px;
  padding-bottom: 40px;
  /* position: absolute; */
  padding-top: 50px;
  background-color: white;
}
.pros h1 {
  font-size: 30px;
}
.pros p {
  color: #14b789;
}
.pros {
  width: 380px;
  padding: 10px;
  background-color: #f9f9f9;
  margin-top: 30px;
  border-radius: 10px;
  overflow: hidden;
}

#prosimg {
  width: 250px;
  padding-left: 70px;
  transform: rotate(10deg);
  border-radius: 20px;
  padding-top: 50px;
  margin-bottom: -40px;
}
#sayhiimg {
  width: 150px;
  margin-top: 35px;
  margin-left: 50px;
  clip-path: circle();
}
.sayhihead h1 {
  background-color: #14b789;
  border-radius: 10px;
  padding: 30px;
  margin-left: 20px;
  padding-right: 100px;
  padding-left: 170px;
  margin-top: 30px;
  position: absolute;
  color: white;
}
.sayhi {
  background-color: #e4e0e0;
  padding-bottom: 90px;
}

#stayconnectedicons {
  padding: 5px;
  margin-top: 90px;
  margin-left: 200px;
  margin-bottom: -45px;
  border: 1px solid black;
  border-radius: 50%;
  transform: rotate(0deg);
  font-size: 30px;
}
.sayhiservice {
  width: 400px;
  margin-top: 40px;
  margin-left: 10px;
  background-color: white;
  margin-right: 30px;
  border-radius: 20px 20px 0px 0px;
}
.sayhiservice1 {
  width: 350px;
  margin-top: 40px;
  margin-bottom: 60px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 40px;
}
.sayhiservice h3 {
  padding-top: 80px;
  padding-left: 50px;
  margin-bottom: -50px;
  font-size: 20px;
}
.stayconnected h3 {
  margin-top: -50px;
  padding-left: 15px;
  padding-top: 30px;
}
#sayhiservicebutton {
  width: 140px;
  padding: 10px;
  border: 1px solid black;
  background-color: transparent;
  margin-right: 5px;
  margin-top: 30px;
  margin-right: 20px;
  margin-left: 3px;
  border-radius: 20px;
}
.stayconnectedicons {
  padding: 8px;
  margin-top: 70px;
  margin-left: 30px;
  margin-bottom: -45px;
  transform: rotate(0deg);
  border-radius: 50%;
  border: 1px solid black;
  font-size: 30px;
}
.stayconnected {
  width: 340px;
  height: 140px;
  margin-left: 30px;
}
.startproject h2 {
  margin-left: 42px;
  margin-top: 30px;
  font-size: 20px;
}
.startproject p {
  opacity: 0.8;
  padding-bottom: 40px;
  margin-top: 18px;
  margin-left: 55px;
  font-size: 25px;
}
.about {
  margin-top: -58px;
}
.about h3 {
  margin-left: 35px;
  padding-bottom: 0px;
  margin-top: -10px;
  padding-top: 40px;
  text-transform: uppercase;
}
.about p {
  margin-top: 20px;
  padding-left: 24px;
  margin-left: 20px;
  padding-right: 23px;
}
.email h3 {
  padding-left: 35px;
  margin-top: -60px;
  padding-top: 90px;
}
.email p {
  margin-top: 15px;
  padding-left: 24px;
  margin-left: 15px;
  padding-right: 23px;
}
.call h3 {
  padding-left: 35px;
  margin-top: 20px;
}
.call p {
  margin-top: 10px;
  padding-left: 8px;
  padding-top: 1px;
  padding-bottom: 30px;
  margin-left: 30px;
}
.private {
  width: 400px;
  margin-top: 60px;
  margin-left: 10px;
  margin-right: 30px;
  border-radius: 0px 0px 20px 20px;
  background-color: white;
}
.sayhiul li {
  display: inline;
}
.sayhiul {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
}
.sayhiul ion-icon {
  padding-top: 10px;
  padding-right: 60px;
  padding-bottom: 60px;
  margin-top: 50px;
  margin-left: 50px;
  margin-bottom: -30px;
  border: 1px solid black;
  border-radius: 10px;
  color: #14b789;
  background: white;
  border: 1px solid gray;
  transform: rotate(0deg);
  font-size: 30px;
}
#iconnames {
  font-size: 20px;
  font-weight: normal;
  text-align: center;
  margin-left: 75px;
  margin-top: -17px;
  position: absolute;
  color: black;
}
#iconnamesSEO {
  margin-left: 95px;
  font-size: 20px;
  margin-top: -17px;
  position: absolute;
  font-weight: normal;
  text-align: center;
}

.formdiv {
  width: 425px;
  margin-top: 10px;
  padding: 10px;
}
.formdiv input {
  padding: 12px;
  margin-top: 10px;
  border: 1px solid gray;
  padding-right: 100px;
  background-color: white;
  margin-left: 40px;
}
.sayhitextarea {
  margin-top: 50px;
  margin-bottom: 30px;
  margin-left: 55px;
}
#sayhitextareainner {
  padding: 10px;
}
#sayhisend {
  background-color: #14b789;
  padding: 10px;
  border-radius: 20px;
  padding-right: 40px;
  padding-left: 40px;
  text-decoration: none;
  color: white;
  font-size: 18px;
  margin-left: 258px;
}
footer {
  font-size: 15px;
  padding: 10px;
  text-align: center;
}
footer span {
  font-weight: bold;
}

/**************************************@media only screen and (min-width: 768px) ************************************/
@media only screen and (min-width: 768px) {
  #nav {
    height: 350px;
    width: 768px;
  }
  .navbarul {
    margin-left: 120px;
    margin-top: -27px;
    position: absolute;
    display: inline;
  }
  .navbarulli a {
    font-size: 15px;
    color: white;
    padding: 5px;
    text-decoration: none;
    text-transform: uppercase;
  }
  .navbarulli {
    display: inline;
    margin-left: 5px;
  }
  #navbarcontact {
    margin-right: 140px;
    margin-top: -40px;
  }
  #phoneicon {
    margin-top: 3px;
  }
  #phonenumber {
    padding: 7px;
    margin-top: 5px;
    margin-left: 10px;
  }
  #waveimg {
    margin-left: -133px;
    margin-top: 52px;
    width: 1100px;
  }
  #wave {
    overflow: hidden;
  }
  #man {
    width: 425px;
    margin-left: 10px;
    margin-top: 90px;
  }
  .manh1 {
    margin-top: -60px;
    margin-left: 85px;
  }
  .manh2 {
    margin-left: 40px;
    margin-top: -10px;
    padding: 8px;
  }
  #manimg {
    margin-bottom: 15px;
    width: 80px;
    margin-left: 10px;
    margin-top: 10px;
  }
  #mananchor {
    margin-left: 40px;
    margin-top: 10px;
    padding: 8px;
    font-size: 16px;
  }
  .laptopman {
    display: block;
  }
  .laptopman {
    width: 300px;
    position: absolute;
    margin-left: 440px;
    margin-top: 30px;
  }
  .laptopmanback {
    width: 240px;
    height: 240px;
    background-color: white;
    border-radius: 50%;
  }
  #laptopmanimg {
    margin-left: -45px;
    margin-top: -210px;
    position: absolute;
    width: 350px;
  }
  #leftimgdiv {
    display: inline;
    float: left;
  }
  #leftimg {
    display: inline;
    width: 330px;
    padding: 10px;
    border-radius: 30px;
    margin-top: 30px;
    margin-right: 10px;
    height: 300px;
  }
  #mystory {
    width: 768px;
    background-color: transparent;
  }

  #aboutme h1 {
    padding: 30px;
    margin: 10px;
    margin-left: 360px;
    font-size: 30px;
    width: 320px;
    margin-top: 30px;
  }
  #aboutmeimg {
    width: 138px;
    margin-left: 260px;
    margin-top: 31px;
    clip-path: circle();
  }
  #aboutmedetails {
    padding: 30px;
    margin-right: -10px;
  }

  .infotable {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  table {
    width: 300px;
    margin-left: 25px;
    margin-top: 30px;
  }

  table th {
    font-size: 15px;
    text-align: start;
    padding: 8px;
  }
  table h4 {
    color: black;
    font-size: 25px;
  }
  table td {
    text-align: start;
    font-size: 15px;
  }

  .tablerow th hr {
    width: 298px;
    margin-left: -10px;
  }
  .line {
    width: 1px;
    margin-left: 123px;
    margin-top: 70px;
    height: 150px;
  }

  .numbers {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    margin-left: 340px;
    margin-top: -215px;
  }
  #numinner1,
  #numinner2,
  #numinner3,
  #numinner4 {
    padding: 10px;
  }
  #numinner4 {
    padding: 20px;
    padding-left: 35px;
  }
  .numline {
    width: 1px;
    height: 180px;
    position: absolute;
    margin-left: 199px;
    margin-top: 10px;
  }
  .numbers hr {
    position: absolute;
    width: 390px;
    margin-top: 100px;
    margin-left: 5px;
  }
  .nump {
    color: #14b789;
  }
  .company {
    font-size: 20px;
    padding-top: 60px;
  }
  .companyimg {
    width: 768px;
  }
  .companyimg1 {
    width: 270px;
    padding: 50px 30px 60px 80px;
  }

  .company {
    font-size: 14px;
    padding-top: 30px;
    text-align: center;
  }
  .companyimg {
    width: 768px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
  }
  .companyimg1 {
    width: 200px;
    padding-top: 50px;
  }
  .services {
    width: 768px;
    padding-top: 30px;
    padding-bottom: 20px;
  }
  .servicesnames {
    width: 760px;
  }
  .serviceshead h1 {
    border-radius: 10px;
    padding: 25px;
    margin-left: 30px;
    padding-right: 180px;
    padding-left: 355px;
  }
  #servicesheadimg {
    width: 140px;
    margin-left: 250px;
    margin-top: 2px;
    clip-path: circle();
  }

  .servicesnamesWebsites,
  .servicesnamesBranding,
  .servicesnamesEcommerce,
  .servicesnamesSEO {
    width: 350px;
    margin-right: 10px;
    margin-top: 50px;
    margin-left: 20px;
    border-radius: 10px;
  }
  .servicesnamesWebsites h1,
  .servicesnamesBranding h1,
  .servicesnamesEcommerce h1,
  .servicesnamesSEO h1 {
    padding: 10px;
    font-size: 30px;
  }

  .servicesbutton {
    width: 90px;
    border: 0px solid;
    color: white;
    padding: 5px;
    float: right;
    border-radius: 20px;
    margin-top: -40px;
    margin-right: 10px;
  }
  .dm {
    width: 150px;
    border: 1px solid;
    color: black;
    padding: 10px;
    border-radius: 20px;
    text-decoration: none;
    margin-top: 5px;
    margin-right: 10px;
    margin-left: 10px;
  }
  ion-icon {
    padding: 50px;
    margin-top: 90px;
    padding-top: 50px;
    padding-bottom: 70px;
    margin-left: 200px;
    margin-bottom: -45px;
    transform: rotate(320deg);
    border: 1px solid black;
    font-size: 90px;
  }

  .services p {
    padding: 10px;
    padding-top: 10px;
  }

  .services p {
    padding: 10px;
    padding-top: 10px;
  }

  .proheading h1 {
    border-radius: 10px;
    padding: 25px;
    margin-left: 20px;
    padding-right: 80px;
    padding-left: 150px;
    margin-top: 50px;
    position: absolute;
  }
  #proheadimg {
    width: 92px;
    margin-left: 70px;
    margin-top: 28px;
    clip-path: circle();
  }

  .pronames {
    width: 768px;
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
    padding-bottom: 50px;
  }
  .pros h1 {
    font-size: 30px;
  }
  .pros p {
    color: #14b789;
  }
  .pros {
    width: 330px;
    margin-top: 30px;
    border-radius: 10px;
    margin-left: 20px;
    overflow: hidden;
  }
  #prosimg {
    width: 250px;
    padding-left: 70px;
    transform: rotate(10deg);
    border-radius: 20px;
    padding-top: 50px;
    margin-bottom: -40px;
  }

  #sayhiimg {
    width: 150px;
    margin-top: 35px;
    margin-left: 50px;
    clip-path: circle();
  }
  .sayhihead h1 {
    border-radius: 10px;
    padding: 30px;
    margin-left: 20px;
    padding-right: 100px;
    padding-left: 170px;
    margin-top: 30px;
  }
  .sayhi {
    padding-bottom: 90px;
  }

  #stayconnectedicons {
    padding: 5px;
    margin-top: 90px;
    margin-left: 200px;
    margin-bottom: -45px;
    border: 1px solid black;
    border-radius: 50%;
    transform: rotate(0deg);
    font-size: 30px;
  }
  .sayhiservice {
    width: 360px;
    margin-top: 40px;
    margin-left: 30px;
    margin-right: 3px;
    border-radius: 20px 0px 0px 20px;
  }
  .sayhiservice1 {
    margin-top: 40px;
    margin-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
  }
  .stayconnectediconsdiv {
    margin-left: -40px;
  }
  .sayhiservice h3 {
    padding-top: 80px;
    padding-left: 20px;
    margin-bottom: -50px;
    font-size: 20px;
  }
  .stayconnected h3 {
    margin-top: -50px;
    padding-left: 15px;
    padding-top: 30px;
    margin-left: -30px;
  }
  #sayhiservicebutton {
    width: 140px;
    padding: 10px;
    border: 1px solid black;
    background-color: transparent;
    margin-right: 5px;
    margin-top: 30px;
    margin-right: 20px;
    margin-left: 3px;
    border-radius: 20px;
  }
  .stayconnectedicons {
    padding: 8px;
    margin-top: 70px;
    margin-left: 30px;
    margin-bottom: -45px;
    transform: rotate(0deg);
    border-radius: 50%;
    border: 1px solid black;
    font-size: 30px;
  }
  .stayconnected {
    width: 340px;
    height: 140px;
    margin-left: 30px;
  }
  .startproject h2 {
    margin-left: 16px;
    margin-top: 30px;
    font-size: 20px;
  }
  .startproject p {
    opacity: 0.8;
    padding-bottom: 40px;
    margin-top: 18px;
    margin-left: 25px;
    font-size: 25px;
  }
  .about {
    margin-top: -58px;
  }
  .about h3 {
    margin-left: 35px;
    padding-bottom: 0px;
    margin-top: -10px;
    padding-top: 40px;
    text-transform: uppercase;
  }
  .about p {
    margin-top: 25px;
    padding-left: 24px;
    margin-left: 20px;
    padding-right: 23px;
  }
  .email h3 {
    padding-left: 35px;
    margin-top: -40px;
    padding-top: 90px;
  }
  .email p {
    margin-top: 25px;
    padding-left: 24px;
    margin-left: 15px;
    padding-right: 23px;
  }
  .call h3 {
    padding-left: 35px;
    margin-top: 40px;
  }
  .call p {
    margin-top: 20px;
    padding-left: 8px;
    padding-top: 1px;
    padding-bottom: 30px;
    margin-left: 30px;
  }
  .private {
    /* background-color: red; */
    width: 360px;
    margin-top: 40px;
    margin-left: 0px;
    margin-right: -10px;
    padding-top: 50px;
    padding-top: 100px;
    border-radius: 0px 20px 20px 0px;
  }

  .xyz {
    display: flex;
    flex-wrap: wrap;
  }
  .sayhiul li {
    display: inline;
  }
  .sayhiul {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
  }
  .sayhiul ion-icon {
    padding-top: 10px;
    padding-right: 60px;
    padding-bottom: 60px;
    margin-top: 50px;
    margin-left: 40px;
    margin-bottom: -30px;
    border: 1px solid black;
    border-radius: 10px;
    background: white;
    border: 1px solid gray;
    transform: rotate(0deg);
    font-size: 30px;
  }
  #iconnames {
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    margin-left: 60px;
    margin-top: -17px;
    position: absolute;
    color: black;
  }
  #iconnamesSEO {
    margin-left: 84px;
    font-size: 20px;
    margin-top: -17px;
    position: absolute;
    font-weight: normal;
    text-align: center;
  }

  .formdiv {
    width: 768px;
    margin-left: 40px;
    margin-top: 10px;
    padding: 10px;
  }
  .formdiv input {
    padding: 12px;
    border-radius: 5px;
    margin-top: 10px;
    padding-right: 90px;
    border: 1px solid gray;
    margin-left: -10px;
    margin-right: 55px;
  }
  .sayhitextarea {
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: 45px;
  }
  #sayhitextareainner {
    padding: 10px;
    border-radius: 5px;
    width: 680px;
  }
  #sayhisend {
    padding: 10px;
    border-radius: 20px;
    padding-right: 40px;
    padding-left: 40px;
    text-decoration: none;
    font-size: 18px;
    margin-left: 600px;
  }
  footer {
    font-size: 15px;
    padding: 20px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  footer span {
    font-weight: bold;
  }
}
/**************************************@media only screen and (min-width: 1024px) ************************************/
@media only screen and (min-width: 1024px) {
  #nav {
    width: 1024px;
    height: 350px;
  }
  .navbarul {
    margin-left: 120px;
    margin-top: -27px;
  }
  .navbarulli a {
    padding: 10px;
  }
  .navbarulli {
    margin-left: 5px;
  }
  #navbarcontact {
    margin-right: 140px;
    margin-top: -40px;
  }
  #phoneicon {
    margin-top: 3px;
  }
  #phonenumber {
    padding: 7px;
    margin-top: 5px;
    margin-left: 10px;
  }
  #waveimg {
    margin-left: -103px;
    margin-top: -15px;
    width: 1400px;
  }
  #wave {
    overflow: hidden;
  }
  #man {
    width: 450px;
    margin-left: 90px;
  }
  .manh1 {
    font-size: 20px;
    margin-top: -60px;
    margin-left: 95px;
  }
  .manh2 {
    font-size: 18px;
    margin-left: 30px;
    margin-top: -10px;
    padding: 8px;
  }
  #manimg {
    width: 100px;
    margin-bottom: 15px;
    width: 80px;
    margin-left: 15px;
    margin-top: 10px;
  }
  #mananchor {
    margin-left: 40px;
    margin-top: 10px;
    padding: 8px;
    font-size: 16px;
  }
  .laptopman {
    display: block;
  }
  .laptopman {
    width: 300px;
    position: absolute;
    margin-left: 35rem;
    margin-top: 30px;
  }
  .laptopmanback {
    width: 240px;
    height: 240px;
    border-radius: 50%;
  }
  #laptopmanimg {
    margin-left: -45px;
    margin-top: -210px;
    position: absolute;
    width: 350px;
  }

  #leftimgdiv {
    display: inline;
    float: left;
  }
  #leftimg {
    width: 450px;
    height: 350px;
    padding: 10px;
    border-radius: 30px;
    margin-top: 90px;
    margin-right: 60px;
    margin-left: 20px;
  }
  #aboutme {
    width: 1024px;
  }
  #mystory {
    background-color: transparent;
  }

  #aboutme h1 {
    padding: 40px;
    margin: 10px;
    margin-left: 550px;
    margin-right: 340px;
    font-size: 35px;
    padding-right: 100px;
    width: 320px;
    margin-top: 100px;
  }
  #aboutmeimg {
    width: 165px;
    margin-left: 280px;
    margin-top: 105px;
    clip-path: circle();
  }
  #aboutmedetails {
    padding: 30px;
  }

  .infotable {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  table {
    width: 400px;
    margin-left: 65px;
  }

  table th {
    font-size: 15px;
    text-align: start;
    padding: 8px;
  }
  table h4 {
    color: black;
    font-size: 25px;
  }
  table td {
    font-size: 15px;
    text-align: start;
  }

  .tablerow th hr {
    width: 398px;
    margin-left: -10px;
  }
  .line {
    width: 1px;
    margin-left: 193px;
    margin-top: 40px;
    height: 150px;
  }

  .numbers {
    padding: 20px;
    margin-left: 540px;
    margin-top: -215px;
  }
  #numinner1,
  #numinner2,
  #numinner3,
  #numinner4 {
    padding: 10px;
  }
  #numinner4 {
    padding: 20px;
    padding-left: 35px;
  }
  .numline {
    width: 1px;
    height: 180px;
    margin-left: 199px;
    margin-top: 10px;
  }
  .numbers hr {
    width: 390px;
    margin-top: 100px;
    margin-left: 5px;
  }
  .company {
    font-size: 20px;
    padding-top: 60px;
  }
  .companyimg {
    width: 1024px;
  }
  .companyimg1 {
    width: 100px;
    padding: 30px;
  }
  .services {
    width: 1024px;
    padding-top: 30px;
  }
  .servicesnames {
    margin-left: 90px;
    width: 1024px;
  }
  .serviceshead h1 {
    padding: 35px;
    margin-left: 110px;
    padding-right: 300px;
    padding-left: 361px;
  }
  #servicesheadimg {
    width: 160px;
    margin-left: 330px;
    margin-top: 4px;
  }

  .servicesnamesWebsites,
  .servicesnamesBranding,
  .servicesnamesEcommerce,
  .servicesnamesSEO {
    width: 400px;
    margin-right: 10px;
    margin-top: 50px;
    margin-left: 20px;
  }
  .servicesnamesWebsites h1,
  .servicesnamesBranding h1,
  .servicesnamesEcommerce h1,
  .servicesnamesSEO h1 {
    padding: 10px;
    font-size: 30px;
  }

  .servicesbutton {
    width: 90px;
    padding: 5px;
    margin-top: -40px;
    margin-right: 10px;
  }
  .dm {
    width: 150px;
    padding: 10px;
    border-radius: 20px;
    margin-top: 5px;
    margin-right: 10px;
    margin-left: 10px;
  }
  ion-icon {
    padding: 50px;
    margin-top: 90px;
    padding-top: 50px;
    padding-bottom: 70px;
    margin-left: 200px;
    margin-bottom: -45px;
    font-size: 120px;
  }

  .services p {
    padding: 10px;
    padding-top: 10px;
  }

  .services p {
    padding: 10px;
    padding-top: 10px;
  }

  .services p {
    padding: 10px;
    padding-top: 10px;
  }
  .proheading h1 {
    border-radius: 10px;
    padding: 30px;
    margin-left: 580px;
    padding-right: 140px;
    padding-left: 150px;
    margin-top: 40px;
  }
  #proheadimg {
    width: 100px;
    margin-left: 620px;
    margin-top: 17px;
    clip-path: circle();
  }

  .pronames {
    width: 1024px;
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
    padding-bottom: 50px;
  }
  .pros h1 {
    font-size: 30px;
  }

  .pros {
    width: 300px;
    margin-top: 30px;
    border-radius: 10px;
    margin-left: 13px;
    overflow: hidden;
  }
  #prosimg {
    width: 250px;
    padding-left: 70px;
    transform: rotate(10deg);
    border-radius: 20px;
    padding-top: 50px;
    margin-bottom: -40px;
  }

  #sayhiimg {
    width: 200px;
    margin-top: 40px;
    margin-left: 170px;
    clip-path: circle();
  }
  .sayhihead h1 {
    border-radius: 10px;
    padding: 50px;
    margin-left: 80px;
    padding-right: 250px;
    padding-left: 270px;
    margin-top: 30px;
    font-size: 45px;
  }
  .sayhi {
    padding-bottom: 50px;
  }

  .sayhiservice {
    width: 450px;
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 30px;
    border-radius: 20px 0px 0px 20px;
  }
  .sayhiservice1 {
    width: 350px;
    margin-top: 40px;
    margin-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 40px;
  }
  .sayhiservice h3 {
    padding-top: 80px;
    padding-left: 50px;
    margin-bottom: -50px;
    font-size: 20px;
  }
  .stayconnected h3 {
    margin-top: -50px;
    padding-left: 15px;
    padding-top: 30px;
  }
  #sayhiservicebutton {
    width: 140px;
    padding: 10px;
    border: 1px solid black;
    margin-right: 5px;
    margin-top: 30px;
    margin-right: 20px;
    margin-left: 15px;
    border-radius: 20px;
  }
  .stayconnectedicons {
    padding: 8px;
    margin-top: 70px;
    margin-left: 30px;
    margin-bottom: -45px;
    transform: rotate(0deg);
    border-radius: 50%;
    border: 1px solid black;
    font-size: 30px;
  }
  .stayconnected {
    width: 340px;
    height: 140px;
    margin-left: 30px;
  }
  .startproject h2 {
    margin-left: 42px;
    margin-top: 30px;
    font-size: 20px;
  }
  .startproject p {
    opacity: 0.8;
    padding-bottom: 40px;
    margin-top: 18px;
    margin-left: 55px;
    font-size: 25px;
  }
  .about {
    margin-top: 50px;
  }
  .about h3 {
    margin-left: 35px;
    padding-bottom: 0px;
    margin-top: -10px;
    padding-top: 40px;
    text-transform: uppercase;
  }
  .about p {
    margin-top: 20px;
    padding-left: 24px;
    margin-left: 20px;
    font-size: 25px;
    padding-right: 23px;
  }
  .email h3 {
    padding-left: 35px;
    margin-top: -40px;
    padding-top: 90px;
  }
  .email p {
    margin-top: 25px;
    padding-left: 24px;
    font-size: 25px;
    margin-left: 15px;
    padding-right: 23px;
  }
  .call h3 {
    padding-left: 35px;
    margin-top: 40px;
  }
  .call p {
    font-size: 25px;
    margin-top: 15px;
    padding-left: 8px;
    padding-top: 1px;
    padding-bottom: 30px;
    margin-left: 30px;
  }
  .private {
    width: 450px;
    margin-top: 40px;
    margin-left: -28px;
    margin-right: 30px;
    border-radius: 0px 20px 20px 0px;
  }
  .xyz {
    width: 1024px;
    margin-left: 40px;
    display: flex;
    flex-wrap: wrap;
  }

  #sayhiimg {
    width: 150px;
    margin-top: 35px;
    margin-left: 150px;
    clip-path: circle();
  }
  .sayhihead h1 {
    border-radius: 10px;
    padding: 30px;
    margin-left: 120px;
    padding-right: 100px;
    padding-left: 170px;
    margin-top: 30px;
  }
  .sayhi {
    padding-bottom: 90px;
  }

  #stayconnectedicons {
    padding: 5px;
    margin-top: 90px;
    margin-left: 200px;
    margin-bottom: -45px;
    border: 1px solid black;
    border-radius: 50%;
    transform: rotate(0deg);
    font-size: 30px;
  }
  .sayhiservice {
    width: 420px;
    margin-top: 40px;
    margin-left: 30px;
    margin-right: 3px;
    border-radius: 20px 0px 0px 20px;
  }
  .sayhiservice1 {
    margin-top: 40px;
    margin-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
  }
  .stayconnectediconsdiv {
    margin-left: -40px;
  }
  .sayhiservice h3 {
    padding-top: 80px;
    padding-left: 20px;
    margin-bottom: -50px;
    font-size: 20px;
  }
  .stayconnected h3 {
    margin-top: -50px;
    padding-left: 15px;
    padding-top: 30px;
    margin-left: -30px;
  }
  #sayhiservicebutton {
    width: 140px;
    padding: 10px;
    border: 1px solid black;
    margin-right: 5px;
    margin-top: 30px;
    margin-right: 20px;
    margin-left: 3px;
    border-radius: 20px;
  }
  .stayconnectedicons {
    padding: 8px;
    margin-top: 70px;
    margin-left: 30px;
    margin-bottom: -45px;
    transform: rotate(0deg);
    border-radius: 50%;
    border: 1px solid black;
    font-size: 30px;
  }
  .stayconnected {
    width: 340px;
    height: 140px;
    margin-left: 30px;
  }
  .startproject h2 {
    margin-left: 16px;
    margin-top: 30px;
    font-size: 20px;
  }
  .startproject p {
    opacity: 0.8;
    padding-bottom: 40px;
    margin-top: 18px;
    margin-left: 25px;
    font-size: 25px;
  }
  .about {
    margin-top: -58px;
  }
  .about h3 {
    margin-left: 35px;
    padding-bottom: 0px;
    margin-top: -10px;
    padding-top: 40px;
    text-transform: uppercase;
  }
  .about p {
    margin-top: 25px;
    padding-left: 24px;
    margin-left: 20px;
    padding-right: 23px;
  }
  .email h3 {
    padding-left: 35px;
    margin-top: -40px;
    padding-top: 90px;
  }
  .email p {
    margin-top: 25px;
    padding-left: 24px;
    margin-left: 15px;
    padding-right: 23px;
  }
  .call h3 {
    padding-left: 35px;
    margin-top: 40px;
  }
  .call p {
    margin-top: 20px;
    padding-left: 8px;
    padding-top: 1px;
    padding-bottom: 30px;
    margin-left: 30px;
  }
  .private {
    /* background-color: red; */
    width: 420px;
    margin-top: 40px;
    margin-left: 0px;
    margin-right: -10px;
    padding-top: 50px;
    padding-top: 100px;
    border-radius: 0px 20px 20px 0px;
  }

  .xyz {
    display: flex;
    flex-wrap: wrap;
    margin-left: 80px;
  }
  .sayhiul li {
    display: inline;
  }
  .sayhiul {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
  }
  .sayhiul ion-icon {
    padding-top: 10px;
    padding-right: 60px;
    padding-bottom: 60px;
    margin-top: 50px;
    margin-left: 40px;
    margin-bottom: -30px;
    border: 1px solid black;
    border-radius: 10px;
    color: #14b789;
    background: white;
    border: 1px solid gray;
    transform: rotate(0deg);
    font-size: 30px;
  }
  #iconnames {
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    margin-left: 60px;
    margin-top: -17px;
    color: black;
  }
  #iconnamesSEO {
    margin-left: 84px;
    font-size: 20px;
    margin-top: -17px;
    position: absolute;
    font-weight: normal;
    text-align: center;
  }
  .sayhiform {
    margin-left: 150px;
  }
  .sayhifooter {
    margin-left: 150px;
  }
  .formdiv {
    width: 768px;
    margin-left: 40px;
    margin-top: 10px;
    padding: 10px;
  }
  .formdiv input {
    padding: 12px;
    border-radius: 5px;
    margin-top: 10px;
    padding-right: 90px;
    border: 1px solid gray;
    margin-left: -10px;
    margin-right: 55px;
  }
  .sayhitextarea {
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: 45px;
  }
  #sayhitextareainner {
    padding: 10px;
    border-radius: 5px;
    width: 680px;
  }
  #sayhisend {
    padding: 10px;
    border-radius: 20px;
    padding-right: 40px;
    padding-left: 40px;
    text-decoration: none;
    font-size: 18px;
    margin-left: 600px;
  }
  footer {
    font-size: 15px;
    padding: 20px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  footer span {
    font-weight: bold;
  }
}

/**************************************@media only screen and (min-width: 1440px) ************************************/

@media only screen and (min-width: 1440px) {
  #nav {
    width: 1440px;
    height: 350px;
  }
  .navbarul {
    margin-left: 140px;
    margin-top: -27px;
  }
  .navbarulli a {
    padding: 25px;
  }
  .navbarulli {
    margin-left: 5px;
  }
  #navbarcontact {
    margin-right: 180px;
    margin-top: -40px;
  }
  #phoneicon {
    margin-top: 3px;
  }
  #phonenumber {
    padding: 7px;
    margin-top: 5px;
    margin-left: 10px;
  }
  #waveimg {
    margin-left: -20px;
    margin-top: -37px;
    width: 1500px;
  }
  #wave {
    overflow: hidden;
  }
  #man {
    width: 480px;
    margin-left: 260px;
    margin-top: 60px;
  }
  .manh1 {
    font-size: 28px;
    margin-top: -70px;
    margin-left: 110px;
  }
  .manh2 {
    font-size: 25px;
    margin-left: 30px;
    margin-top: -10px;
    padding: 8px;
  }
  #manimg {
    width: 100px;
    margin-bottom: 15px;
    width: 110px;
    margin-left: 15px;
    margin-top: 10px;
  }
  #mananchor {
    margin-left: 40px;
    margin-top: 10px;
    padding: 8px;
    font-size: 25px;
  }
  .laptopman {
    display: block;
  }
  .laptopman {
    width: 300px;
    position: absolute;
    margin-left: 50rem;
    margin-top: 30px;
  }
  .laptopmanback {
    width: 240px;
    height: 240px;
    border-radius: 50%;
  }
  #laptopmanimg {
    margin-left: -45px;
    margin-top: -210px;
    position: absolute;
    width: 350px;
  }

  #leftimgdiv {
    display: inline;
    float: left;
  }
  #leftimg {
    width: 450px;
    height: 350px;
    padding: 10px;
    border-radius: 30px;
    margin-top: 90px;
    margin-right: 60px;
    margin-left: 170px;
  }
  #aboutme {
    width: 1440px;
  }
  #mystory {
    background-color: transparent;
  }

  #aboutme h1 {
    padding: 40px;
    margin: 10px;
    margin-left: 700px;
    margin-right: 340px;
    font-size: 35px;
    padding-right: 140px;
    width: 320px;
    margin-top: 100px;
  }
  #aboutmeimg {
    width: 165px;
    margin-left: 300px;
    margin-top: 105px;
    clip-path: circle();
  }
  #aboutmedetails {
    padding: 30px;
    margin-right: 150px;
  }

  .infotable {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  table {
    width: 500px;
    height: 200px;
    margin-left: 105px;
  }

  table th {
    font-size: 15px;
    text-align: start;
    padding: 8px;
  }
  table h4 {
    color: black;
    font-size: 25px;
  }

  table td {
    font-size: 15px;
    text-align: start;
  }

  .tablerow th hr {
    width: 498px;
    margin-left: -10px;
  }
  .line {
    width: 1px;
    margin-left: 263px;
    margin-top: 30px;
    height: 200px;
  }

  .numbers {
    padding: 20px;
    margin-left: 740px;
    margin-top: -270px;
  }
  #numinner1,
  #numinner2,
  #numinner3,
  #numinner4 {
    padding: 40px;
  }
  #numinner4 {
    padding: 20px;
    padding-left: 60px;
  }
  #numinner3 {
    padding-top: 20px;
    padding-left: 40px;
  }
  .numline {
    width: 1px;
    height: 220px;
    margin-left: 250px;
    margin-top: 40px;
  }
  .numbers hr {
    width: 390px;
    margin-top: 140px;
    margin-left: 45px;
  }
  .company {
    font-size: 20px;
    padding-top: 60px;
  }
  .companyimg {
    width: 1440px;
  }
  .companyimg1 {
    width: 140px;
    padding: 45px;
  }
  .services {
    width: 1440px;
    padding-top: 30px;
    padding-bottom: 50px;
  }
  .servicesnames {
    margin-left: 200px;
    width: 1024px;
  }
  .serviceshead h1 {
    padding: 35px;
    margin-left: 170px;
    padding-right: 400px;
    padding-left: 455px;
  }
  #servicesheadimg {
    width: 160px;
    margin-left: 460px;
    margin-top: 4px;
  }

  .servicesnamesWebsites,
  .servicesnamesBranding,
  .servicesnamesEcommerce,
  .servicesnamesSEO {
    width: 450px;
    margin-right: 10px;
    margin-top: 50px;
    margin-left: 20px;
  }
  .servicesnamesWebsites h1,
  .servicesnamesBranding h1,
  .servicesnamesEcommerce h1,
  .servicesnamesSEO h1 {
    padding: 10px;
    font-size: 30px;
  }

  .servicesbutton {
    width: 90px;
    padding: 5px;
    margin-top: -40px;
    margin-right: 10px;
  }
  .dm {
    width: 150px;
    padding: 10px;
    border-radius: 20px;
    margin-top: 5px;
    margin-right: 10px;
    margin-left: 10px;
  }
  ion-icon {
    padding: 50px;
    margin-top: 90px;
    padding-top: 50px;
    padding-bottom: 70px;
    margin-left: 250px;
    margin-bottom: -45px;
    font-size: 120px;
  }

  .services p {
    padding: 10px;
    padding-top: 10px;
  }

  .services p {
    padding: 10px;
    padding-top: 10px;
  }

  .services p {
    padding: 10px;
    padding-top: 10px;
  }

  .services p {
    padding: 10px;
    padding-top: 10px;
  }
  .proheading h1 {
    border-radius: 10px;
    padding: 30px;
    margin-left: 860px;
    padding-right: 170px;
    padding-left: 220px;
    margin-top: 40px;
  }
  #proheadimg {
    width: 100px;
    margin-left: 970px;
    margin-top: 20px;
    clip-path: circle();
  }

  .pronames {
    width: 1440px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 50px;
  }
  .pros h1 {
    font-size: 30px;
  }
  .pros p {
    color: #14b789;
  }
  .pros {
    width: 380px;
    margin-top: 30px;
    border-radius: 10px;
    margin-left: 70px;
    overflow: hidden;
  }
  #prosimg {
    width: 250px;
    padding-left: 70px;
    transform: rotate(10deg);
    border-radius: 20px;
    padding-top: 50px;
    margin-bottom: -30px;
  }

  #sayhiimg {
    width: 150px;
    margin-top: 35px;
    margin-left: 100px;
    clip-path: circle();
  }
  .sayhihead h1 {
    border-radius: 10px;
    padding: 30px;
    margin-left: 40px;
    padding-right: 100px;
    padding-left: 200px;
    margin-top: 30px;
  }
  .sayhi {
    padding-bottom: 250px;
  }

  #stayconnectedicons {
    padding: 5px;
    margin-top: 90px;
    margin-left: 200px;
    margin-bottom: -45px;
    border: 1px solid black;
    border-radius: 50%;
    transform: rotate(0deg);
    font-size: 30px;
  }
  .sayhiservice {
    width: 350px;
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 3px;
    border-radius: 20px 0px 0px 20px;
  }
  .sayhiservice1 {
    margin-top: 40px;
    margin-bottom: 60px;
    margin-left: 10px;
  }
  .stayconnectediconsdiv {
    margin-left: -40px;
  }
  .sayhiservice h3 {
    padding-top: 80px;
    padding-left: 20px;
    margin-bottom: -50px;
    font-size: 20px;
  }
  .stayconnected h3 {
    margin-top: -50px;
    padding-left: 15px;
    padding-top: 30px;
    margin-left: -30px;
  }
  #sayhiservicebutton {
    width: 140px;
    padding: 10px;
    border: 1px solid black;
    background-color: transparent;
    margin-right: 5px;
    margin-top: 30px;
    margin-right: 20px;
    margin-left: 3px;
    border-radius: 20px;
  }
  .stayconnectedicons {
    padding: 8px;
    margin-top: 70px;
    margin-left: 30px;
    margin-bottom: -45px;
    transform: rotate(0deg);
    border-radius: 50%;
    border: 1px solid black;
    font-size: 30px;
  }
  .stayconnected {
    width: 340px;
    height: 140px;
    margin-left: 30px;
  }
  .startproject h2 {
    margin-left: 16px;
    margin-top: 30px;
    font-size: 20px;
  }
  .startproject p {
    opacity: 0.8;
    padding-bottom: 40px;
    margin-top: 18px;
    margin-left: 25px;
    font-size: 25px;
  }
  .about {
    margin-top: -58px;
  }
  .about h3 {
    margin-left: 35px;
    padding-bottom: 0px;
    margin-top: -10px;
    padding-top: 40px;
    text-transform: uppercase;
  }
  .about p {
    margin-top: 25px;
    padding-left: 24px;
    margin-left: 20px;
    padding-right: 23px;
  }
  .email h3 {
    padding-left: 35px;
    margin-top: -40px;
    padding-top: 90px;
  }
  .email p {
    margin-top: 25px;
    padding-left: 24px;
    margin-left: 15px;
    padding-right: 23px;
  }
  .call h3 {
    padding-left: 35px;
    margin-top: 40px;
  }
  .call p {
    margin-top: 20px;
    padding-left: 8px;
    padding-top: 1px;
    padding-bottom: 30px;
    margin-left: 30px;
  }
  .private {
    width: 390px;
    margin-top: 40px;
    margin-left: 0px;
    margin-right: -10px;
    padding-top: 50px;
    padding-top: 100px;
    border-radius: 0px 20px 20px 0px;
  }

  .xyz {
    display: flex;
    flex-wrap: wrap;
    margin-left: 0px;
  }
  .abc {
    display: flex;
    flex-wrap: wrap;
  }
  .sayhiul li {
    display: inline;
  }
  .sayhiul {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
  }
  .sayhiul ion-icon {
    padding-top: 10px;
    padding-right: 60px;
    padding-bottom: 60px;
    margin-top: 50px;
    margin-left: 30px;
    margin-bottom: -30px;
    border: 1px solid black;
    border-radius: 10px;
    color: #14b789;
    background: white;
    border: 1px solid gray;
    transform: rotate(0deg);
    font-size: 30px;
  }
  #iconnames {
    font-size: 20px;
    margin-left: 50px;
    margin-top: -17px;
  }
  #iconnamesSEO {
    margin-left: 70px;
    font-size: 20px;
    margin-top: -17px;
    font-weight: normal;
  }
  .sayhiform {
    margin-top: -500px;
    margin-left: 750px;
  }
  .sayhifooter {
    margin-left: 150px;
  }
  .formdiv {
    margin-left: 30px;
    margin-top: -60px;
    padding: 10px;
  }
  .formdiv input {
    padding: 12px;
    border-radius: 5px;
    margin-top: 10px;
    padding-right: 90px;
    margin-left: -5px;
    margin-right: 5px;
  }
  .sayhitextarea {
    margin-top: -340px;
    margin-bottom: 30px;
    margin-left: 645px;
  }
  #sayhitextareainner {
    padding: 10px;
    border-radius: 5px;
    width: 630px;
  }
  #sayhisend {
    padding: 10px;
    border-radius: 20px;
    padding-right: 40px;
    padding-left: 40px;
    font-size: 18px;
    margin-left: 57rem;
  }
  footer {
    font-size: 15px;
    padding: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  footer span {
    font-weight: bold;
  }
}
